<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />

<head>
	<title>Bike Shop</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h2 th:text="'Select bike'"></h2>
	
	<form action="#" th:action="@{/saveOrder}" th:object="${orderRow}" method="post">
        <label for="clist">Bike: </label>
			 <select id="clist" th:field="*{bike}">
       			<option th:each="bike: ${singleBikes}" th:value="${bike.id}" th:text="${bike.bike.brand} + ' ' + ${bike.bike.model} + ' ' + ${bike.size}"></option>
    		</select>
    		<input type="hidden" th:field="*{order}" th:value="${thisOrder}"/>
        <p><input type="submit" value="Submit order" /></p>
	</form>	
</body>
</html>